:root {
    --primary-brand-color: #4D5AE5;
    --background-dark: #2E2F42;
    --background-light: #F4F4FD;
    --accent-text-color: #2E2F42;
    --ordinary-text-color: #434455;
    --white-yext-color: #FFFFFF;
    --accent-subtitle: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color:var(--primary-brand-color);
}

.logo-light {
    color: var(--background-light);
}
.logo-dark {
    color: var(--accent-text-color);
}
.footer
{background-color: var(--background-dark);
color: var(--accent-subtitle);}

.current {color: var(--primary-brand-color)}
a {
    text-decoration: none;
    color: inherit;
}
li {list-style: none;}
